:root {
  --primary: #3B82F6;
  --primary-light: #dbeafe;
  --primary-dark: #1e3a8a;
  --background: #f9fafb;
  --success: #d1fae5;
  --success-text: #065f46;
  --error-message: #fee2e2;
  --error-text: #b91c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: #333;
  line-height: 1.6;
}

header {
  background-color: var(--primary);
  color: white;
  padding: 2rem 1rem;
  text-align: center;
}

/* clock */

.clock-container {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  border-bottom: 2px solid var(--primary);
}

@media (max-width: 768px) {
  .clock-container {
    font-size: 1.4;
    padding: 0.75rem;
  }
}

/* calendar container */

.calendar {
  max-width: 1000px;
  margin: 2rem auto;
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-btn-container {
  
}